

h1 {
    font: 36px Tahoma;
    font-weight: 20;
    background-color: white;    
}

h2 {
    font: 24px Helvetica;
}
h3{
    font: 20px Helvetica;
    text-align: center;
}

.name {
    font: 16px Tahoma;
    font-weight: 5;
}

text {
    font: 10px Helvetica;
}

.years {
    background-color: white;
}

.radio-control {
    font: 14px Helvetica;

}


svg {
    display: block;
    float: left;
}

#chart {
    height: 100% !important;
    width: 100% !important;
}


html, body {
    margin: 10px;
    padding: 0px;
    height: 110%;
    width: 100%;
    background-color: #FFF8C4;
}

.nvd3.nv-pie.nv-chart-donut2 .nv-pie-title {
    fill: rgba(70, 107, 168, 0.78);
}




